<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @question.user_id %>
</p>

<p>
  <b>Question:</b>
  <%= @question.question %>
</p>

<p>
  <b>Location:</b>
  <%= @question.location %>
</p>

<p>
  <b>Tags:</b>
  <%= @question.tags %>
</p>


